/* Will be compiled down to a single stylesheet with your sass files */
body {
	background : #000;
}
.wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: all 0.3s ease;
	-webkit-transition-property: -webkit-transform, height, bottom;
}

.box3d-container {
	width: 100%;
	height: 100%;
	position: relative;
	/*background: #333;*/
	-webkit-perspective: 1200px;
	/*-webkit-perspective: 200px;*/
	-webkit-transform-style: preserve-3d;
}

.layer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transform: translate3d(0px, 0px, -160px) rotate3d(0, 1, 0, 0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 550ms;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-delay: initial;
}

.slide {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 2;
	text-align: center;
	font-size: 70px;
	color: #fff;
	border-radius: 20px;
	opacity : 1;
	-webkit-transition: all .5s linear; 
	-webkit-backface-visibility: hidden;
}
.slide.type1 {
	background : #ff455e;
	-webkit-transform: rotate3d(0, 1, 0, 0deg) translate3d(0px, 0px, 160px);
}
.slide.type2 {
	background : #2EB8A1;
	-webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d(0px, 0px, 160px);
}
.slide.type3 {
	background : #6C5B7B;
	-webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0px, 0px, 160px);
}
.slide.type4 {
	background : #ffac1c;
	-webkit-transform: rotate3d(0, 1, 0, 270deg) translate3d(0px, 0px, 160px);
}
.slide.disable {
	opacity : 0;
}
.slide .background {
	position: absolute;
	background-image: -webkit-linear-gradient(-45deg, 
	rgba(255,255,255,0.3) 0%,
	rgba(255,255,255,0.1) 33%,
	rgba(255,255,255,0.05) 71%,
	rgba(255,255,255,0.01) 91%);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border-radius: 14px;
	text-indent: -9999px;
	webkit-transition: all .250s ease-out;
}

a.in {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	display: block;
	padding: 0px;
	margin: 0px;
	z-index: 1;
	text-indent: -999px;
	overflow: hidden;
	-webkit-transition: all .250s ease-out;
	-webkit-transform: translate3d(0,0,0);
	height: 50px;
}

a.in::after {
	content: '';
	position: absolute;
	display: block;
	width: 20px;
	height: 15px;
	right: 14px;
	top: 14px;
	background: url(canvas.png) no-repeat;
	background-position: 0px -500px;
}

.pagination {
	position: absolute;
	z-index: 999;
	width: 100%;
	text-align: center;
	bottom: 40px;
	-webkit-transition: all .250s ease-out;
}

.weather {
	width: 100%;
	position: absolute;
	top: 40%;
	margin-top: -67px;
	-webkit-animation: fade 0.3s ease-in-out;
	-webkit-transform: translate3d(0,0,0);
	cursor: pointer;
}